__pycache__/
*.pyc
.ipynb_checkpoints/
*.ipynb_checkpoint

# Virtual envs
.venv*/
lab1_venv/

# Editors/IDE
.vscode/
.idea/

# OS junk
.DS_Store
Thumbs.db

# Build/logs
build/
dist/
*.log

# Data & generated artifacts
data/raw/
data/tiny-imagenet-200/
data/*/input_image.*
data/*/shapes.json
data/*/layer_*_input.bin
data/*/layer_*_output.bin
data/exports/

# Models / checkpoints (tracked via LFS below if you keep any)
models/
*.h5
*.keras
*.onnx
*.pt
*.pth
